<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - House prices</title>
    {% else %}
    <title>Welcome to House prices!</title>
    {% endif %}
</head>
<body>
    <div>
        House prices:
        <a href="{{ url_for('profile') }}">User profile</a>
        <a href="{{ url_for('login') }}">Login</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>
