{% extends "main_layout.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td><h1>User: {{ user.username }}</h1></td>
        </tr>
    </table>
    <hr>
    {% for house in houses %}
    <table>
        <tr valign="top">
            <td><img src="{{ house.purveyor.avatar(36) }}"></td>
            <td>{{ house.purveyor.username }} add house:<br>{{ house.Id }}</td>
        </tr>
        <tr>
            <td>House {{ house.Id }} costs</td>
            <td><b>{{ house.SalePrice }}</b>$</td>
        </tr>
    </table>
    {% endfor %}
{% endblock %}
